@property --rotate {
  syntax: "<angle>";
  initial-value: 264deg;
  inherits: false;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
  background-color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* navbar */

.container-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  background-color: #000;
  z-index: 6;
}

.info-navbar {
  display: flex;
  width: 250px;
  justify-content: space-between;
  color: #0cf;
  position: relative;
}
.info-navbar p::before{
  position: absolute;
  content: attr(data-text);
  box-shadow: 0px 0px 5px #0cf;
  filter: blur(10px) brightness(0);
  animation: flicker 5s linear infinite;
  animation-delay: 1s;
}
@keyframes flicker {
  0%{filter: blur(5px) brightness(1);}
  3%{filter: blur(5px) brightness(0);}
  6%{filter: blur(5px) brightness(0);}
  7%{filter: blur(5px) brightness(1);}
  8%{filter: blur(5px) brightness(0);}
  9%{filter: blur(5px) brightness(1);}
  10%{filter: blur(5px) brightness(0);}
  20%{filter: blur(5px) brightness(1);}
}
.info-navbar p {
  cursor: pointer;
  position: relative;
  font-weight: 400;
}
.info-navbar p::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  background-color: #0cf;
  left: 50%;
  bottom: -10px;
  transition: all 0.3s ease-in-out;
  filter: blur(2px);
}
.info-navbar p:hover::after {
  width: 100%;
  left: 0;
}
.info-navbar p:hover {
  text-shadow: 0px 0px 10px #0cf;
}

.logo-navbar {
  height: 60px;
  cursor: pointer;
  overflow: hidden;
}

.user-navbar {
  width: 250px;
  display: flex;
  justify-content: flex-end;
  /* overflow: hidden; */
}

.container-navbar .btn {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #0cf;
  font-size: 16px;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px;
  border: none;
  background: none;
  cursor: pointer;
}

.container-navbar .btn:hover {
  background-color: #0cf;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #0cfc,
  0 0 25px #0cf9,
  0 0 50px #0cf6,
  0 0 100px #0cf3;
}

.container-navbar .btn span {
  position: absolute;
  display: block;
}

.container-navbar .btn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #0cf);
  animation: btn-anim1 4s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}

.container-navbar .btn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #0cf);
  animation: btn-anim2 4s linear infinite;
  animation-delay: 1s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}

.container-navbar .btn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #0cf);
  animation: btn-anim3 4s linear infinite;
  animation-delay: 2s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}

.container-navbar .btn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #0cf);
  animation: btn-anim4 4s linear infinite;
  animation-delay: 3s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}

.user {
  background: none;
  border: 2px solid #0cf3;
  border-radius: 10px;
  padding: 10px 15px;
  color: #0cf;
  text-shadow: 0px 0px 10px #0cf;
  font-size: 16px;
  position: relative;
  cursor: pointer;
  z-index: 6;
  padding-top: 4px;
}
.user:hover {
  color: #fff;
  background-color: #0cf;
  box-shadow: 0 0 5px #0cfc,
  0 0 25px #0cf9,
  0 0 50px #0cf6,
  0 0 100px #0cf3;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.user ul {
  list-style: none;
  padding: 0;
}
.dropdown {
  position: absolute;
  width: 100%;
  left: 0;
  margin-top: 12px;
  overflow: hidden;
  z-index: 4;
}
.dropdown li {
  display: none;
  opacity: 0;
  background-color: #045;
  transition: color .3s;
}
.dropdown li:last-child {
  padding: 0;
}

.dropdown li:hover {
  background-color: #079;
}

.user:hover .dropdown li {
  display: block;
  animation: user .5s forwards;
  text-align: center;
}

@keyframes user {
  from {
    opacity: 0;
    transform: translate(50px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

.profileBtn {
  background: none;
  border: none;
  color: #0cf;
  font-size: 16px;
  text-shadow: 0 0 10px #0cf;
  width: 100%;
  padding: 7px;
}

.user .dropdown li:nth-last-child(1) {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.user:hover .dropdown li:nth-child(2){
  animation-delay: .2s;
}

.signOut {
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #0cf;
  text-shadow: 0px 0px 10px #0cf;
  cursor: pointer;
  padding: 7px;
}

/* card */
.exit {
  position: absolute;
  right: 20px;
  top: 100px;
  height: 30px;
  width: 30px;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  backdrop-filter: blur(20px) saturate(160%) contrast(180%);
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(180%);
  padding: 5px 10px;
  color: #fff;
  text-shadow: 0px 0px 10px #000;
  cursor: pointer;
}
.exit:hover {
  /* background-color: rgba(0, 0, 0, 0.1); */
  background-color: rgba(255, 255, 255, 0.5);
}
.clash {
  background: url(../public/img/Clash-Royale.jpg);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
  background-size: cover;
  background-position: right;
}
.cod {
  background: url(../public/img/R.jpg);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
  background-size: cover;
  background-position: right;
}
.axie {
  background: url(../public/img/axie-artwork.jpeg);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
  background-size: cover;
  background-position: right;
}
.valorant {
  background: url(../public/img/maxresdefault.jpg);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
  background-size: cover;
  background-position: right;
}
.container-card {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(90deg, #000 35%, transparent);
}

.card-card {
  overflow: hidden;
}

.game-card {
  position: relative;
  z-index: 2;
  height: 144px;
  width: 288px;
  padding: 1px;
  border-radius: 6px;
  cursor: pointer;
  margin: 20px;
  transition: all 0.3s ease-in-out;
}
.game-card:last-child {
  margin-bottom: 5px;
}
.game-card:first-child {
  margin-top: 5px;
}
.game-card::before {
  content: "";
  width: 102%;
  height: 105%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , #0cf, #3c67e3 43%, #2727d5);
  position: absolute;
  z-index: -1;
  top: -3%;
  left: -1%;
  animation: spin 2.5s linear infinite;
}
.game-card::after {
  position: absolute;
  content: "";
  top: calc(80px / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(160px / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #0cf, #3c67e3 43%, #2727d5);
    opacity: 1;
  transition: opacity 1s;
  animation: spin 2.5s linear infinite;
}
@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
.game-card.yellow::after {
  background-image: linear-gradient(
    var(--rotate)
    , #fffb00, #bcbc2f 43%, #ffe600);
}
.game-card.yellow::before {
  background-image: linear-gradient(
    var(--rotate)
    , #fffb00, #bcbc2f 43%, #ffe600);
}
.game-card.green::after {
  background-image: linear-gradient(
    var(--rotate)
    , #33ff00, #21822e 43%, #188f00);
}
.game-card.green::before {
  background-image: linear-gradient(
    var(--rotate)
    , #33ff00, #21822e 43%, #188f00);
}
.game-card.red::after {
  background-image: linear-gradient(
    var(--rotate)
    , #ff0000, #932f26 43%, #a32300);
}
.game-card.red::before {
  background-image: linear-gradient(
    var(--rotate)
    , #ff0000, #932f26 43%, #a32300);
}

.everHover {
  margin-left: 20px;
  width: 320px;
  height: 160px;
}

.name-card {
  position: absolute;
  z-index: 4;
  left: 15px;
  bottom: 30%;
  text-align: end;
}

.info-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info-card h2 {
  width: 600px;
  font-size: 70px;
  line-height: 1.06;
  letter-spacing: -0.02em;
  color: #fff;
  text-align: end;
  margin: 0;
}
.info-card h1 {
  width: 600px;
  font-size: 70px;
  line-height: 1.06;
  letter-spacing: -0.02em;
  color: #fff;
  text-align: end;
  margin: 0
}

/* sky */

.mask-card {
  height: 106px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}
.mask-card span {
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 100px;
  padding-bottom: 10px;

  background-size: 100% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
}
.mask-card span[data-show] {
  transform: translateY(-100%);
  transition: .5s transform ease-in-out;
}
.mask-card span:nth-child(1) {
  background-image: linear-gradient(45deg, #0ecffe 50%, #07a6f1);
}
.mask-card span:nth-child(2) {
  background-image: linear-gradient(45deg, #f7fb7c 50%, #9c9c3e);
}
.mask-card span:nth-child(3) {
  background-image: linear-gradient(45deg, #18e198 50%, #0ec15d);
}
.mask-card span:nth-child(4) {
  background-image: linear-gradient(45deg, #fa7671 50%, #f45f7f);
}

/* profile */
.containerProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  height: 80vh;
}

.profileCard {
  background-image: linear-gradient(130deg
  ,rgba(173, 239, 255, 0.5), rgba(0, 204, 255, 0.5), rgb(111, 226, 255, .5), rgba(0, 143, 179, .5));
  background-size: 500%;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  animation: fanimado 5s infinite;
  border-radius: 10px;
  border: 2px solid #0cf;
  padding: 40px;
  box-shadow: 0 0 5px #0cfc,
  0 0 25px #0cf9,
  0 0 50px #0cf6,
  0 0 100px #0cf3;
  width: 300px;
}

@keyframes fanimado {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%
  }
}

.firstLetter {
  border-radius: 50%;
  border: 1px solid #fff;
  height: 60px;
  width: 60px;
  margin: 10px auto;
  font-size: 40px;
}

.metamaskBtn {
  border: none;
  width: 100%;
  background-color: #0456;
  color: #fff;
  padding: 10px 0;
  cursor: pointer;
}
.metamaskBtn:hover {
  background-color: #079;
}

.metamaskAlert {
  color: red;
  margin: 0;
  text-shadow: 0 0 10px #000;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}

.divContent {
  width: 100%;
  word-wrap: break-word;
}

/* Support */
.supportContainer {
  position: relative;
}

.infoSupport {
  display: flex;
  color: #0cf;
  position: absolute;
  right: 20px;
  top: 590px;
  background-color: rgba(0, 79, 98, 0.5);
  padding: 7px;
  border-radius: 10px;
}

.infoSupport p {
  margin: 0;
  display: flex;
  align-items: center;
  text-shadow: 0px 0px 10px #0cf;
}

.supportLink {
  display: flex;
}

.supportLink .supportIcon {
  padding: 5px;
  border-radius: 50%;
  border: 1px solid #0cf;
  background-color: #00ccff80;
  height: 40px;
  width: 40px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px #0cfc,
  0 0 25px #0cf9,
  0 0 50px #0cf6,
  0 0 100px #0cf3;
}
/* 
.supportLink:hover {
  box-shadow: 0 0 5px #0cfc,
  0 0 25px #0cf9,
  0 0 50px #0cf6,
  0 0 100px #0cf3;
} */